doctype html 
html 
    head 
    body
        h1 For/Each Loop
        
        - const names = ['Don', 'Anna', 'James']
        for n,i in names 
            p= n + "'s index is "+i
        else 
            strong no values to print