doctype html 
html 
    head 
    body 
        h1#pageTitle Page title goes here 
        p.big-para.
            Here is some text 
            for the big-para
        p.big-para.
            Here is some MORE MORE
            text for the big-para
        .display-box
        #theOnlyDiv