doctype html 
html
    head
    body 
        h1 Welcome to dcode!
        p.
            This is a paragraph tag 
            and this is a new line
        ul 
            li This is item #1
            li This is item #2
            li This is item #3